* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.container {
    width: 90%;
    max-width: 50rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 1.75em;
    color: #2c3e50;
    margin-bottom: 1.25rem;
}

.chat-box {
    padding: 1.25rem;
    overflow-y: auto;
    height: 50vh;
    max-height: 30rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.chat-form {
    display: flex;
}

.chat-form textarea {
    flex-grow: 1;
    border: 1px solid #e0e0e0;
    padding: 0.625rem;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}

.chat-form button {
    background-color: #5680e9;
    color: #ffffff;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 5px;
    margin-left: 0.3125rem;
    cursor: pointer;
    font-size: 1em;
}

.chat-message {
    margin-bottom: 0.9375rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.timestamp {
    font-size: 0.85em;
    color: #999;
    margin-bottom: 0.1875rem;
}

.assistant-message .timestamp, .error-message .timestamp {
    text-align: end;
}

.assistant-message .timestamp::before {
    content: 'GPT ';
    font-weight: bold;
}

.error-message .timestamp::before {
    content: 'Error ';
    font-weight: bold;
}

.system-message .timestamp::before {
    content: 'System ';
    font-weight: bold;
}

.user-message .timestamp::before {
    content: 'You ';
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    border-radius: 10px;
    background-color: #f0f2f5;
}

.actions {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.action {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background-color: #eef2f5;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.action:last-child {
    margin-bottom: 1em;
}

.tool {
    font-weight: bold;
    color: #2c3e50;
}

.input {
    margin: 0.25em 0 0;
    font-size: 0.85em;
    color: #999;
}

.content .spinner {
    align-self: center;
    margin: 0 0 1em;
}

.content:not(.loading) .spinner {
    display: none;
}

.content .text {
    padding: 0 0.625rem;
    font-size: 1em;
    line-height: 1.4;
    white-space: pre-wrap;
}

.assistant-message .content {
    background-color: #2c3e50;
    color: white;
}

.system-message .content {
    background-color: #34495e;
    color: white;
}

.user-message .content {
    background-color: #eef2f5;
    color: #101010;
}

.error-message .content {
    background-color: #ffe5e5;
    color: #d12c2c;
    border-radius: 5px;
    padding: 0.625rem;
    font-size: 1em;
    line-height: 1.4;
    white-space: pre-wrap;
    margin-bottom: 1.25rem;
}

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
